.header {
  background-color: $secondary;
  width: 100%;
  height: 10vh;
  padding: 1.25rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  transition: all 0.5s ease;
  position: sticky;
  top: 0;

  .logo {
    width: 10vw;
    a {
      width: 100%;
      height: 100%;
      font-size: 1.25rem;
      font-weight: bolder;
      color: $accentColor;
      text-decoration: none;

      img {
        width: 100%;
        height: 6vh;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navItem {
      text-align: center;
      text-decoration: none;
      color: $accentColor;
      font-size: 1rem;
      margin-left: 2rem;
      font-weight: 600;
      border-radius: 50px;
      padding: 0.5rem;
      transition: all 0.25s ease;

      &:hover {
        color: $stroke;
      }

      .search-bar {
        width: 10%;
        display: flex;
        justify-content: space-between;

        .search {
          display: flex;
          justify-content: space-between;
          position: relative;

          .searchInput {
            padding: 0 1rem;
            border: none;
            background-color: transparent;
            border-bottom: $stroke 2px solid;
            opacity: 0;
            width: 0;
            transition: all 0.25s linear;
            outline: none;
          }

          .search-expanded {
            width: 15vw;
            opacity: 1;
          }

          i {
            font-size: 1.75rem;
            cursor: pointer;
          }
        }
      }
    }

    .loginBtn {
      // border: #001838 2px solid;
      border-radius: 5px;
      background-color: $btnColor;
      color: $btnText;

      &:hover {
        border: $btnColor 1px solid;
        background-color: $themeColor;
        color: $stroke;
      }
    }

    // .active {
    //   color: $stroke;
    // }
  }
}
